ul {
    list-style: none;
}
li {
    h6 {
        margin-top:2px;
        margin-bottom: 0px;
        color:$lightBlue;
    }
    h5{
        font-size: 17px;
        margin-bottom: 7px;
        font-weight: 700px;
    }
    p {
        margin-top:2px;
        font-size: 10px;
    }
}
