@import "variables";
@import "mixins";
@import "formStyle";
@import "viewMemebersListHeader";
@import "viewMembersListStyle";

header {
    @include elementPositioning(absolute,0px,0px);
    @include setSize(100%,40px);
    background-color: $lightBlue;
}

.title { 
    text-align: center;
    padding: 10px 0px;
    color: white;
}