@import "./variables";
$textFont: "Segoe UI";
$lightBlue: #2D89E6;
$formFieldColor: #C3C3C3;


@mixin formElementStyle ($height) {
    @include setSize(200px,$height);
    font-size: 10px;
    border-radius: 10px;
    @include elementBorder();
    color: #707070;
    padding: 5px;
    margin: 0px 20px 5px 20px;
}

@mixin elementBorder() {
    border: 1px solid $formFieldColor;
}

@mixin elementPositioning ($position,$top,$left ) {
    position: $position;
    top: $top;
    left: $left;
}
@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;

}

@mixin setSize($width,$height) {
    width: $width;
    height: $height;
}
header {
    @include elementPositioning(absolute,0px,0px);
    @include setSize(100%,40px);
    background-color: $lightBlue;
}

.title { 
    text-align: center;
    padding: 10px 0px;
    color: white;
}

.addMemberDiv {
    @include elementPositioning(absolute,60px,20px);
    margin-left: 50px;
}

.addMemberFormTitle {
    text-align: center;
    font-family: $textFont;
    color: #707070;
    font-size: 12px;
    margin: 15px 0px 20px;

}

.addMemberForm {
    @include flex(column);
    align-items: center;
    @include elementBorder();
    border-radius: 40px;
    
}

.formField {
    @include formElementStyle(30px);
}

.biographyTextArea {
    @include formElementStyle(100px);

}

.indexArea {
    @include flex(row);
}

.indexCheckBox {
    @include setSize(10px,10px);
    margin: 10px 5px 0px  0px;
    @include elementBorder();
}

.placeLabel{
    height:30px;
    padding-top:10px;
    font-size: 8px;
    font-family: $textFont;
    text-align: center;
}

.index {
    @include setSize(20px,10px);
    float: left;
    margin:5px 0px 0px 5px;
}

.saveButton {
    @include setSize(100%,40px);
    background-color:$lightBlue;
    color:white;
    border-radius:0px 0px 40px 40px ;
    border-style: none;
}

.formFieldSelect {
    @include formElementStyle(40px);
    width: 212px;
}

.viewMembersDiv {
    @include elementPositioning(absolute,40px,295px ) ;
    @include setSize(900px,100%);
    background-color: whitesmoke;
    margin-left: 50px;

}

.sortHeader {
    display: flex;
    justify-content: space-between;
}


.leftDiv {
    background-color: $lightBlue;
    @include setSize(600px,30px);
    margin-top: 20px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    list-style: none;
    .sortBy {
        color: white;
        font-size: 8px;
        font-family: $textFont;
        margin-left:30px;
        vertical-align: middle;   
    }
    .sortSelect  {
        font-size: 7px;
        border-radius: 4px;
        color: #707070;
        padding: 5px;
        width: 70px;
        margin-left: 5px;
    }
    .sortFilterSelect input{
        width: 150px;
        margin-left: 7px;
    }
}

.rightDiv {
    background-color: #2D89E6;
    @include setSize(100px,30px);
    margin: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
}
ul {
    list-style: none;
}
li {
    h6 {
        margin-top:2px;
        margin-bottom: 0px;
        color:$lightBlue;
    }
    h5{
        font-size: 17px;
        margin-bottom: 7px;
        font-weight: 700px;
    }
    p {
        margin-top:2px;
        font-size: 10px;
    }
}



